<div class="card">
    <a href="/players/{{this.name}}">
        <img src={{this.photo}} alt="" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">{{this.name}} {{this.lastName}}</h5>
            <p class="card-text">{{this.team}}</p>
        </div>
    </a>
</div>